.INFO{
    margin-top: 12em;
    text-align: center;
    color: white;
    background-color: #0066ff;
    border-radius: 2em;
    vertical-align: middle;
}
h4{
    padding-top: 0.5em;
padding-bottom: 0.5em;
}
.secondaryTitle{
    text-align: center;
margin-top: 2em;
}
.mainLink{
    margin-left: 42%;
margin-right: 42%;
margin-top: 2em !important;
position: absolute;
}
form{
    margin-top: 10em;
    padding-top: 6em;
}
.inputs{
    text-align: center;
}
.L{
    height: 100%;
    background-color: #80b3ff;
}
.mainContainer{
    background-color: white;
height: 20em;
border-radius: 4em;
}
ul{
    list-style-type: none;
}
ul a{
   text-align: center;
}

.INFOSuccess{
    margin-top: 12em;
    text-align: center;
    color: white;
    background-color: #00ff00;
    border-radius: 4em;
    vertical-align: middle;
}
.secondaryTitleSuccess{
    text-align: center;
margin-top: 2em;
}
.muestra_tabla table{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    /* border-radius: 1em; */
    border-style: solid;
    border-width: 1px;
    border-color: #00ff00;
}

.muestra_tabla td{
    text-align: center;
}